mixin double-cell ( img )
    .content__cellDouble
        .relation.relation-min-500
            .relation__ratio.relation__ratio-2x1
            .relation__content.flex-column.flex-center
                h4 Название
                .content__doubleCellHolder
                    .content__doubleCellImage
                        img.max-width-80.content__cellImage( src="img/#{ img }" )
                    .content__doubleCellImage
                        img.max-width-80.content__cellImage( src="img/#{ img }" )
                    .content__doubleCellImage
                        img.max-width-80.content__cellImage( src="img/#{ img }" )
                    .content__doubleCellImage
                        img.max-width-80.content__cellImage( src="img/#{ img }" )
                    .content__doubleCellImage
                        img.max-width-80.content__cellImage( src="img/#{ img }" )