mixin cart-one-item ( size, img, exhib, name, availability, price, amount )
    .l-cart__oneItem.flex
        .l-cart__goodsInfo.items-center
            .cart__checkbox
                input( type="checkbox" checked="checked" ).icon-15
            .cart__goodsImage
                div( class= "relation relation-min-#{ size }" )
                    .relation__ratio.relation__ratio-1x1
                    .relation__content.flex-center
                        a( href="one-article-page.html" ).content__cellLink.flex-center
                            img.content__cellImage( src="img/sections/#{ img + '.' + exhib }" )
            .l-cart__infoText.flex-column
                h4.cart__itemCaption #{ name }
                case (availability)
                    when ('есть')
                        .cart__itemAvailable.color-green В наличии
                        case ( amount )
                            when ( '1' )
                                .h3.cart__price #{ price }p
                            default
                                .h3.cart__price-smaller #{ price }p
                                .h5.cart__fullPrice Общая сумма —&nbsp;
                                    span.cart__fullPrice-sum #{ price * amount }p
                    when ('')
                        .cart__itemAvailable.color-red Нет в наличии
        .l-cart__itemActions
            .l-article__amount-cart.flex-center
                case ( amount )
                    when ( '1' )
                        button( disabled ).buttonControl__less.font-1-7
                            span -
                        input( type="text", placeholder="#{ amount }" ).amount__holder.amount__holder-cart.flex-center
                        button.buttonControl__more.font-1-4
                            span +
                    default
                        button.buttonControl__less.font-1-7
                            span -
                        input( type="text", placeholder="#{ amount }" ).amount__holder.amount__holder-cart.flex-center
                        button.buttonControl__more.font-1-4
                            span +
            .l-cart__articleButtonsHolder
                a.article__button.cart__itemBtn-like.cart__itemBtn
                    i.s7-like.actionButtons__icon
                    | Добавить в избранное
                a.article__button.cart__itemBtn-delete.cart__itemBtn
                    i.s7-trash.actionButtons__icon
                    | Удалить




